# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/mods
test_mods/Splash Splash by HCoel \[Minigame\].rar
src-tauri/2
.todo
/testing_mods
/testing_mods - Copia
/mods to test
/mods_backup
/src-tauri/tools
/target
/.vscode
/src-tauri/resources
log.log
node_modules
run.bat
run_exe.bat